<!doctype html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Air quality report - {{filename}}</title>
    <!-- This report uses the Jinja2 templating system -->
    <style type="text/css">
      @media print{@page {size: landscape}}
      body {
        color:black;
        font-family: "Helvetica", helvetica, arial, sans-serif;
      }
      p {
        font-size: large; 
      }
      .container {
        margin-left: 5em;
        margin-right:5em;
      }
      hr {
       page-break-after:always; 
        width:0;
      }
      em {
        color: red;
      }
      li {
        font-size: large; 
      }
      .logo {
        float: right;
        max-width: 100px;
      }
      h1 {
        margin-top: 3em;
      }
      .header-info {
        float: right;
        font-size: x-small;
        color:#666666;
      }
    </style>
  </head>
  <body>
    <!-- <div class="container"> -->
      <h1>Το παθητικό κάπνισμα μέσα στο σπίτι σας</h1>
      <h2>Πληροφορίες για την προηγούμενη εβδομάδα</h2>
      <p>Μέση τιμή:  {{avg_value}}&micro;g/m&sup3;</p>
      {% if avg_value > local_sfh %}
        <p>Η τιμή αυτή είναι υψηλότερη από ένα σπίτι που δεν καπνίζουν στην περιοχή σας.</p>
      {% else %}
        <p>Η τιμή αυτή είναι ίδια με ένα σπίτι που δεν καπνίζουν στην περιοχή σας.</p>
      {% endif %}
      <img style="align:center;" src="{{graph}}" />
      
      <hr />
      <img style="align:center;" src="{{average_viz}}" />
      <hr/>
      <h1>Παθητικό κάπνισμα</h1>
      <h3>Το παθητικό κάπνισμα έχει αποδειχθεί ότι έχει πολλές δυσμενείς επιπτώσεις στην υγεία. Μερικές από αυτές είναι:</h3>
		<ul>
          <li>Αυξημένος κίνδυνος καρδιακής προσβολής, εγκεφαλικού επεισοδίου και καρκίνου του πνεύμονα για τους μη καπνιστές</li>
<li>Τα παιδιά είναι ιδιαίτερα ευαίσθητα στις επιβλαβείς επιδράσεις του καπνού στην αναπνοή, καθώς έχουν μικρότερους αεραγωγούς, αναπνέουν πιο γρήγορα και το </li>ανοσοποιητικό τους σύστημα βρίσκεται ακόμα σε ανάπτυξη 
<li>Τα παιδιά που εκτίθενται σε καπνό είναι πιθανότερο να εμφανίσουν λοίμωξη στο στήθος και να πάσχουν από συριγμό και βήχα </li>
<li>Τα παιδιά που μένουν σε σπίτι με γονείς καπνιστές έχουν 50% υψηλότερη πιθανότητα να εμφανίσουν λοίμωξη στο αυτί   </li>
<li>Περίπου 9.500 παιδιά στο Ηνωμένο Βασίλειο νοσηλεύονται κάθε χρόνο εξ’ αιτίας ασθενειών που σχετίζονται με το παθητικό κάπνισμα </li>
<li>Τα παιδιά που μεγαλώνουν σε ένα περιβάλλον με καπνιστές είναι τρεις φορές πιο πιθανό να γίνουν και οι ίδιοι καπνιστές </li>

      </ul>
      <hr />
      <h1>Τι μπορείτε να κάνετε</h1>
      <ul>
        <li>Μπορείτε να μας καλέσετε να συζητήσουμε τρόπους μείωσης του παθητικού καπνίσματος μέσα στο σπίτι σας </li>
<li>Συζητήστε με την οικογένεια και τους φίλους σας ότι θέλετε να κόψετε το κάπνισμα μέσα στο σπίτι και ζητήστε τη βοήθειά τους </li>
<li>Αφαιρέστε τα τασάκια από το σπίτι και το αυτοκίνητό σας, τοποθετήστε τα έξω ή στην αυλή. Τοποθετήστε μία ομπρέλα στην αυλή για τις βροχερές μέρες </li>
<li>Φτιάξτε απαγορευτικές πινακίδες για το κάπνισμα μαζί με τα παιδιά σας και τοποθετήστε τις στο σπίτι και στο αμάξι προς υπενθύμιση όλων </li>
<li>Φτιάξτε μία λίστα με τα πράγματα που μπορείτε να κάνετε για να ξεχαστείτε, όταν νιώσετε ότι θέλετε να καπνίσετε </li>
<li>Σκεφτείτε να διακόψετε το κάπνισμα — επισκεφτείτε ένα δημόσιο ιατρείο διακοπής καπνίσματος</li>

      </ul>
      <div class="header-info">{{participant}}, {{current_time}}</div>
    <!-- </div> -->
  </body>
</html>
