<!doctype html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Air quality report - {{filename}}</title>
    <!-- This report uses the Jinja2 templating system -->
    <style type="text/css">
      @media print{@page {size: landscape}}
      body {
        color:black;
        font-family: "Helvetica", helvetica, arial, sans-serif;
      }
      p {
        font-size: large; 
      }
      .container {
        margin-left: 5em;
        margin-right:5em;
      }
      hr {
       page-break-after:always; 
        width:0;
      }
      em {
        color: red;
      }
      li {
        font-size: large; 
      }
      .logo {
        float: right;
        max-width: 100px;
      }
      h1 {
        margin-top: 3em;
      }
      .header-info {
        float: right;
        font-size: x-small;
        color:#666666;
      }
    </style>
  </head>
  <body>
    <!-- <div class="container"> -->
      <h1>Second-hand smoke in your home</h1>
      <h2>Information from the last week</h2>
      <p>Average value: {{avg_value}}&micro;g/m&sup3;</p>
      {% if avg_value > local_sfh %}
        <p>This is greater than a smoke-free home in your area.</p>
      {% else %}
        <p>This is about the same as a smoke-free home in your area.</p>
      {% endif %}
      <img style="align:center;" src="{{graph}}" />
      
      <hr />
      <img style="align:center;" src="{{average_viz}}" />
      <hr/>
      <h1>Secondhand smoke</h1>
      <h3>Breathing in second-hand tobacco smoke has been shown to have many harmful effects on health. These include:</h3>
		<ul>
          <li>An increase in the risk of heart attack, stroke and lung cancer for non-smokers</li>
          <li>Children are particularly susceptible to the damaging effects of breathing in smoke because they have smaller airways, they breathe faster and their immune systems are still developing</li>
          <li>Children exposed to smoke are more likely to have chest infections and suffer from wheezing and coughing</li>
          <li>Children living in a home where one parent smokes are 50% more likely to have middle-ear infections</li>
          <li>Approximately 9,500 children in the UK are admitted to hospital every year because of illness linked to breathing in tobacco smoke</li>
          <li>Children who grow up around smokers are three times more likely to become a smoker themselves</li>
      </ul>
      <hr />
      <h1>What can you do?</h1>
      <ul>
        <li>Give us a call to discuss ways to reduce second-hand smoke levels in your home</li>
        <li>Discuss your plans to go smoke-free with your family and friends and ask for their support</li>
        <li>Remove ashtrays from your home/car &#8212; put them outside or at the backdoor.  Put an umbrella at the door for rainy days</li>
        <li>Make some no-smoking signs with your kids and put them in your home and car to remind everyone</li>
        <li>Make a list of things you can do to distract yourself when you feel like having a smoke</li>
        <li>Think about quitting &#8212; call 0800 84 84 84 for local NHS help</li>
      </ul>
      <div class="header-info">{{participant}}, {{current_time}}</div>
    <!-- </div> -->
  </body>
</html>
